@use "@/shared/styles/variables" as *;

.swatch {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  border-radius: 999px;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.isSelected {
  box-shadow:
    $cream 0 0 0 1.5px,
    $sage 0 0 0 3px;
}

.swatch:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
